<div class="comment-top">
	<h4>Bir Yorum Yaz</h4>
	<div class="comment-bottom">
		<form action="#" method="post">
			<input class="form-control" type="text" name="İsim" placeholder="İsim" required="">
			<input class="form-control" type="email" name="Email" placeholder="Email" required="">

			<input class="form-control" type="text" name="Konu" placeholder="Konu" required="">

			<textarea class="form-control" name="Mesaj" placeholder="Mesaj..." required=""></textarea>
			<button type="submit" class="btn btn-primary submit">Gönder</button>
		</form>
	</div>
</div>