<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>Bu blog sayfası, Daka Bootcamp Eğitimi sürecinde edindiğim deneyimleri, öğrendiklerimi ve ilham aldıklarımı paylaşmak için oluşturulmuştur.. Daka Bootcamp, girişimciliğe yeni adım atanlar için kapsamlı bir eğitim programıdır.</p>
				<div class="read">
					<a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				@await Component.InvokeAsync("BlogLast3Post")
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				@*@await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")*@
				<div class="tech-btm">
					<h3>Bültenimize Abone Olun</h3>
					<p>Teknoloji, yazılım ve diğer bloglar...</p>
					<form action="/NewsLetter/SubscribeMail" method="post">
						<input type="email" placeholder="Email" required="" name="Mail">
						<input type="submit" value="Abone Ol">
					</form>
				</div>
				<!-- //subscribe -->
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-pinterest-p"></i>
								<span>Pinterest</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					© @DateTime.Now.Year Weblog. All Rights Reserved | Design By
					<b> Semih ORAL </b>
				</p>

			</div>
		</div>

		<!-- //footer -->


	</div>
</footer>